extend layout

block content
    div.card-container
        a.card(href="/turn?choice=rock")
        img(src = "https://icon-library.com/images/rock-paper-scissors-icon/rock-paper-scissors-icon-24.jpg")

        a.card(href="/turn?choice=paper")
        img(src = "https://icon-library.com/images/rock-paper-scissors-icon/rock-paper-scissors-icon-2.jpg")

        a.card(href="/turn?choice=scissors")
        img(src = "https://icon-library.com/images/rock-paper-scissors-icon/rock-paper-scissors-icon-22.jpg")

